<!-- This is about us page! -->


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title> About Us </title>
</head>


<body>

    <h1> Who are we? </h1>

                          

    <!-- A Card Showing Individual Information -->
    <div class="container-fluid my-4">
        <div class="col-sm-6">
            <div class="card">
                <span class="border border-primary"></span>
                <div class="card-body">
                    <h5 class="card-title">Dnyanesh Mahajan</h5>
                    <p class="card-text">Batch    : B</p>
                    <p class="card-text">Roll No. : BC232</p>
                    <p class="card-text">Email ID.: dnyaneshmahajan2018.comp@mmcoe.edu.in</p>
                </div>
                <span class="border border-primary"></span>
            </div>
        </div>

        <!-- A Card Showing Individual Information -->
        <div class="col-sm-6 my-4">
            <div class="card">
                <span class="border border-primary"></span>
                <div class="card-body">
                    <h5 class="card-title">Mukul Borole</h5>
                    <p class="card-text">Batch    : A</p>
                    <p class="card-text">Roll No. : BC207</p>
                    <p class="card-text">Email ID.:mukulborole2018.comp@mmcoe.edu.in</p>
                </div>
                <span class="border border-primary"></span>
            </div>
        </div>
        <div class="col-sm-6 my-4">
            <div class="card">
                <span class="border border-primary"></span>
                <div class="card-body">
                    <h5 class="card-title">Devashish Shahakar</h5>
                    <p class="card-text">Batch    : A</p>
                    <p class="card-text">Roll No. : BC220</p>
                    <p class="card-text">Email ID.:devashishshahakar2018.comp@mmcoe.edu.in</p>
                </div>
                <span class="border border-primary"></span>
            </div>
        </div>
    </div>

    

</body>

</html>