   
<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <title>Home Page</title>
    <script type="module" src="{% static 'js/offer.js' %}"></script>
</head>
<body>


    <!-- ---------------Import Bootstrap---------------------------- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    <!-- ------------------------------------------------- -->


    
     <!-- ---------------Header---------------------------- -->

     <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#"> Smart Threat Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            
            <li class="nav-item">
              <div class="btn-group  mr-5 ">
                <button type="button" class="btn  bg-transparent mr-5" data-toggle="dropdown" > Add Threat </button>
              <div class="dropdown-menu mr-5 ">
                <form class="text-center">
                  <div class="form-row ">
                    <div class="col-auto my-1 ">
                      
                      <input class="form-row " type="file" id="myFile" name="filename">
                    </div>
                    
                    <div class="col-auto my-1 text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
          
         <!-- ------------Account Details -------------->
          <div class="btn-group dropleft mr-5">
            <button type="button" class="btn  bg-transparent mr-5" data-toggle="dropdown" >
             
                <a class="nav-link " href="#">
                    <span class="material-icons" style="font-size:36px">
                    account_circle
                    </span>
                </a>

            </button>
            <div class="dropdown-menu mr-5">
                <a class="dropdown-item" href="#"><span class="material-icons">manage_accounts</span> Manage Account</a>
                <a class="dropdown-item" href="/homepage/forgetpass"> <span class="material-icons" style="font-size:30px">vpn_key</span> Change Password</a>
                <a class="dropdown-item" href="/homepage"> <span class="material-icons" style="font-size:30px">logout</span> Logout</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><span class="material-icons">delete</span> Delete Account</a>
              </div>
            </div>
              
            <!---------- End Of Account Details-----  -->
            
            
           
          
        </div>
      </nav>

      

      
      
      

      
      <!-- ---------------Header Ending----------------------- -->
      
      <!-- ---------------Mid Frame----------------------- -->
      
      <div class="modal-body row">
        <!-- Made Two Sections in Main frame -->
        <div class="col-md-9">
          <h1 class="text-center position-sticky">Video Stream</h1>
          
          <!-- Left Half Part of page -->
          <!-- Adding Input Video Camera -->
          <div class="row">
            <!-- Upper 3 cameras starts -->

              <!-- First Video -->
            <div class="col-md-4 mt-5">
              <div class="thumbnail">
                <!-- <a href="video.html"> -->
                  <!-- <video id="localvideo" autoplay playsinline></video> -->
                  <video id="remotevideo" autoplay playsinline></video>
                   
                  <button id="callbtn">Register a camera</button>
                  <button id="offerbtn">Offer Creation</button>
                  <button id="answerbtn">Answer button</button>
                  
                  <div class="caption mt-2 ml-5">
                    <p>Camera 1</p>
                  </div>
                
              </div>
            </div>
            <!-- Second Video -->
            <div class="col-md-4 mt-5">
              <div class="thumbnail">
                <!-- <a href="video.html"> -->
                  <!-- <video id="localvideo" autoplay playsinline></video> -->
                  <video id="remotevideo" autoplay playsinline></video>
                   
                  <button id="callbtn">Register a camera</button>
                  <button id="offerbtn">Offer Creation</button>
                  <button id="answerbtn">Answer button</button>
                  
                  <div class="caption mt-2 ml-5">
                    <p>Camera 2</p>
                  </div>
                
              </div>
            </div>
            <!-- Third Video -->
            <div class="col-md-4 mt-5">
              <div class="thumbnail">
                <!-- <a href="video.html"> -->
                  <!-- <video id="localvideo" autoplay playsinline></video> -->
                  <video id="remotevideo" autoplay playsinline></video>
                   
                  <button id="callbtn">Register a camera</button>
                  <button id="offerbtn">Offer Creation</button>
                  <button id="answerbtn">Answer button</button>
                  
                  <div class="caption mt-2 ml-5">
                    <p>Camera 3</p>
                  </div>
                
              </div>
            </div>

            
            
            

          </div>
          <!-- Upper 3 cameras ends -->
          <!-- Lower 3 cameras starts -->
          <div class="row">
            <!-- Upper 3 cameras starts -->

              <!-- First Video -->
            <div class="col-md-4 mt-5">
              <div class="thumbnail">
                <!-- <a href="video.html"> -->
                  <!-- <video id="localvideo" autoplay playsinline></video> -->
                  <video id="remotevideo" autoplay playsinline></video>
                   
                  <button id="callbtn">Register a camera</button>
                  <button id="offerbtn">Offer Creation</button>
                  <button id="answerbtn">Answer button</button>
                  
                  <div class="caption mt-2 ml-5">
                    <p>Camera 4</p>
                  </div>
                
              </div>
            </div>
            <!-- Second Video -->
            <div class="col-md-4 mt-5">
              <div class="thumbnail">
                <!-- <a href="video.html"> -->
                  <!-- <video id="localvideo" autoplay playsinline></video> -->
                  <video id="remotevideo" autoplay playsinline></video>
                   
                  <button id="callbtn">Register a camera</button>
                  <button id="offerbtn">Offer Creation</button>
                  <button id="answerbtn">Answer button</button>
                  
                  <div class="caption mt-2 ml-5">
                    <p>Camera 5</p>
                  </div>
                
              </div>
            </div>
            <!-- Third Video -->
            <div class="col-md-4 mt-5">
              <div class="thumbnail">
                <!-- <a href="video.html"> -->
                  <!-- <video id="localvideo" autoplay playsinline></video> -->
                  <video id="remotevideo" autoplay playsinline></video>
                   
                  <button id="callbtn">Register a camera</button>
                  <button id="offerbtn">Offer Creation</button>
                  <button id="answerbtn">Answer button</button>
                  
                  <div class="caption mt-2 ml-5">
                    <p>Camera 6</p>
                  </div>
                
              </div>
            </div>

            
            
            

          </div>
          <!-- Lower 3 cameras ends -->
          
          
          <!-- Left Half Part of page end -->
        </div>


       <!--  Right Half Part of page  -->


        <div class="col-md-3">

          <div class="col">
            <h1 class="text-danger">Alerts</h1>
            <li>
              <a >Number of People:</a><br>
            </li>
            <li><a>Threat:</a></li>
          </div>
          <div class="col">
            <h1>Heading 3</h1>
            <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quos blanditiis illo dolores tenetur eaque omnis impedit eligendi quibusdam laboriosam quae repudiandae pariatur. Minima ad quis quia iste ipsa magnam consequatur facere saepe natus sapiente libero accusantium vel dolore, totam blanditiis, eius culpa aspernatur, repellendus adipisci. Sapiente adipisci voluptates inventore?</a>

          </div>
            
        </div>
      </div>


       <!--  Right Half Part of page end-->


     <!-- ---------------Mid End----------------------- -->





</body>
</html>

















<!-- <!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC Demo</title>
  </head>
  <body>
    <h2>1. Start your Webcam</h2>
    <div class="videos">
      <span>
        <h3>Local Stream</h3>
        <video id="webcamVideo" autoplay playsinline></video>
      </span>
      <span>
        <h3>Remote Stream</h3>
        <video id="remoteVideo" autoplay playsinline></video>
      </span>


    </div>

    <button id="webcamButton">Start webcam</button>
    <h2>2. Create a new Call</h2>
    <button id="callButton" disabled>Create Call (offer)</button>

    <h2>3. Join a Call</h2>
    <p>Answer the call from a different browser window or device</p>
    
    <input id="callInput" />
    <button id="answerButton" disabled>Answer</button>

    <h2>4. Hangup</h2>

    <button id="hangupButton" disabled>Hangup</button>

    <script type="module" src="{% static 'js/main.js' %}"></script>
    <!-- <script src="{% static 'js/final.js' %}"></script> -->

  <!-- </body>
  
</html> --> -->