{% load static %}
<head>
    <style>
        h1{
            text-align: center;
           color: rgb(22, 158, 22);
        }
        img{
            margin-left:450px;
            margin-top: 30px;
        }
    </style>
</head>
<div>
    <h1 >Real Time Video Streaming</h1>
     <p>
        
        <img src="https://static.wikia.nocookie.net/shingekinokyojin/images/9/9a/Karanese-ANIME.png/revision/latest?cb=20170710122443" style="width: 50%; height: 50%;">
       
    </p> 
    
    
</div>
